# Custom mortality tables

There are some standard old mortality tables built in as available in the [actymath/tables.py](actymath/tables.py) file.

When initialising a mortality table, the system processes the data into a format that allows it to be used in the calculations.

This notebook shows how to create mortality tables from custom data.

Note we can build mortality tables from data that provides $l_x$ or $q_x$ values.

In [1]:
import pandas as pd

pd.set_option("display.max_columns", 200)

## Creating a 1D mortality table from CSV file

We will use the data in [actymath/table_data/test.csv](actymath/table_data/test.csv) to create a 1D mortality table.

- This a table of $q_x$ values
- The age column is titled `Age x`
- The mortality value column is titled `q x`

To create our mortality table in `actymath` we put together a table structure mixin with a mortality table class.

We need to define the path, filename and naming of the important columns in the CSV file as attributes of this class. Then when we initialise it, we will have a mortality table object.

In [2]:
from actymath.tables import OneDimensionTableMixIn, CSVMortalityTable


class TestMortalityTable(OneDimensionTableMixIn, CSVMortalityTable):
    path = "actymath/table_data"
    filename = "test.csv"
    age_column = "Age x"
    table_type = "qx"
    value_columns = ["q x"]


table = TestMortalityTable()

## Creating a table from Pandas DataFrame

We can also initialise a mortality table from a Pandas dataframe of values.

In [3]:
df = pd.read_csv("actymath/table_data/test.csv")

df.head()

   Age x       q x
0     17  0.000458
1     18  0.000459
2     19  0.000462
3     20  0.000464
4     21  0.000467

In [4]:
from actymath.tables import OneDimensionTableMixIn, PandasMortalityTable


class AnotherTestMortalityTable(OneDimensionTableMixIn, PandasMortalityTable):
    age_column = "Age x"
    table_type = "qx"
    value_columns = ["q x"]


another_table = AnotherTestMortalityTable(df)

This generates the same table but from the pandas DataFrame representation

In [5]:
assert table.data == another_table.data
assert table.age_index == another_table.age_index

## Two dimensional tables

These can also be created from data. See the [actymath/tables.py](actymath/tables.py) file for examples of 2D tables